@import "./variables";

$theme-colors: (
  primary: $avg-primary,
  danger: $avg-danger,
  warning: $avg-warning,
  success: $avg-success,
  info: $avg-info,
  dark: $avg-dark,
  light: $avg-light
);

@import "node_modules/bootstrap/scss/bootstrap";
